#  BACKEND 
PORT=8000
NODE_ENV=development
DATABASE_URL="postgresql://rootcause:rootcause123@localhost:5432/rootcause_db"
REDIS_URL="redis://localhost:6379"
QDRANT_URL="http://localhost:6333"
AI_SERVICE_URL="http://localhost:8001"
FRONTEND_URL="http://localhost:3000"
JWT_SECRET="change-this-to-random-string-in-production"
JWT_EXPIRES_IN="7d"

// AI SERVICE
GROQ_API_KEY=your_groq_api_key_here
QDRANT_COLLECTION=rootcause_incidents
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2